
<div class="border border-red-600 flex">
  <p><%= @question %></p>
  <button
    data-controller="button"
    data-action="click->button#changeColor"
    class="bg-blue-500 flex justify-center p-2 border border-green-500"
    type="button">
    Click Me!
  </button>

</div>

<div class="bg-blue-400 text-white p-4">
  <h2 class="text-lg font-semibold">My Component</h2>
  <p class="mt-2">This is a component using Tailwind CSS.</p>
</div>
