<div class="border border-black h-1/2 w-1/2">
  <div class="border border-red-500 m-2 p-2">
    <turbo-frame id="question-text">
      <%= render partial: 'shared/generic_attribute',  locals: {
        link_text: "Edit Question",
        target_path: active_record_question_path(@active_record_question, params: { target: :question_text, partial: :edit_text_area }),
        link_options: {
          data: {
            turbo_stream: "",
            locals: { resource: @active_record_question, path: active_record_question_path(@active_record_question) }
          }
        }
      }%>
    </turbo-frame>
  </div>
</div>

