<turbo-frame id="generic-attributes">
<div class="border border-black">
  <%= link_to link_text, target_path, link_options %>
  <p><%= @active_record_question.question_text %></p>
  
</div>
</turbo-frame>
